* {
    background-color: rgb(71, 71, 71);
    color: rgb(202, 202, 202);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

table {
    background-color: rgb(202, 202, 202);
}

table {
    td {
        padding: 10px;
    }

}